logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.web: DEBUG
server:
  port: 9000
  error:
    include-message: always
    include-binding-errors: always
spring:
  application:
    name: api-gateway
  config:
    import: optional:consul:/
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope: openid, email, profile
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
        provider:
          google:
            issuer-uri: https://accounts.google.com
  cloud:
    consul:
      host: localhost
      port: 8500
      discovery:
        health-check-path: /health
    gateway:

      routes:
        - id: movie-service
          uri: lb://movie-service
          predicates:
            - Path=/api/movie/**, /api/director/**, /api/genre/**

        - id: session-service
          uri: lb://session-service
          predicates:
            - Path=/api/movie-session/**

        - id: frontend
          uri: http://frontend:80
          predicates:
            - Path=/**