server:
  port: 9000

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "http://localhost:3000"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
            allowedHeaders: "*"

      routes:
        - id: movie-service
          uri: http://localhost:8080
          predicates:
            - Path=/api/movie/**, /api/director/**

        - id: session-service
          uri: http://localhost:3050
          predicates:
            - Path=/api/movie-session/**